/* Reset / Global */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

:root {
  --inner-max: 1400px;
  --gutter: 20px;
}

@media (max-width: 1024px) {
  :root {
    --gutter: 10px;
  }
}

.inner {
  width: min(var(--inner-max), 100% - var(--gutter) * 2);
  margin-inline: auto;
}

/* Page */
.dummy-section {
  min-height: 100svh;
}

/* Horizontal Section */
.horizontal-section {
  
}

.section-wrapper {
  display: flex;
  flex-direction: column;
}

.row-content-group {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 10px;
}

.column-content-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.track-wrapper {  
  padding-left: max(calc((100% - var(--inner-max)) / 2), var(--gutter));
}

.track {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.card-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
