/* Reset / Global */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.css');

body {
  font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui, Roboto, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

:root {
  --inner-max: 1400px;
  --gutter: 20px;
}

@media (max-width: 1024px) {
  :root {
    --gutter: 10px;
  }
}

.inner {
  width: min(var(--inner-max), 100% - var(--gutter) * 2);
  margin-inline: auto;
}

/* Page */
.dummy-section {
  min-height: 100svh;
}

/* Horizontal Section */
.horizontal-wrapper {
  position: relative;
}

.sticky-pin {
  position: sticky;
}

.track-wrapper {
  overflow-x: hidden;
}

.track {
  display: flex;
  flex-direction: row;
  gap: 400px;
  padding-inline: max(calc((100% - var(--inner-max)) / 2), var(--gutter));
  width: max-content;
  min-width: 100%;
}

.section-wrapper {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.section-heading {
  position: sticky;
  left: max(calc((100% - var(--inner-max)) / 2), var(--gutter));
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 30px;
  background: #fff;
  z-index: 2;
}

.section-heading p {
  color: #666;
}

.section-heading a {
  font-size: 12px;
  color: #666;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.card-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card-content span {
  font-size: 12px;
  color: #666;
  font-weight: bold;
}

.card-content h3 {
  margin: 0;
}

.card-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 500px;
  flex-shrink: 0;
  text-decoration: none;
  color: inherit;
  cursor: default;
}

.card-img {
  aspect-ratio: 8 / 5;
  overflow: hidden;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease;
}

.card-item:hover .card-img img {
  transform: scale(1.05);
}

@media (max-width: 1024px) {
  .track-wrapper {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; /* Firefox */
  }

  .track-wrapper::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }

  .track {
    gap: 40px;
  }

  .card-item {
    width: 280px;
  }
}