/* Reset / Global */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

:root {
  --inner-max: 1400px;
  --gutter: 20px;
}

@media (max-width: 1024px) {
  :root {
    --gutter: 10px;
  }
}

.inner {
  width: min(var(--inner-max), 100% - var(--gutter) * 2);
  margin-inline: auto;
}

/* Page */
.dummy-section {
  min-height: 100svh;
}
